.contenido-tienda {
    grid-area: contenido-tienda;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.875rem;
    align-items: center;
    margin: 80px;
    }
    .articulo-tienda {
        background: #2F3136;
        border: none;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        border-radius: 20px;
        text-align: center;
        width: 250px;
        transition: transform .3s;
        &:hover {
            transform: translateY(5px);
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        }
        .img {
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .text-card-tienda {
            padding: 0 20px 20px;
            h3 {
                text-transform: uppercase;
                color: #fff;
            }
            .boton-tienda {
                @extend %botonDefault;
                background: #000;
                border-radius: 20px;
                border: none;
                color: coral;
                width: 100%;
                font-weight: 600;
            }
            p {
                margin: 10px;
            }
        }
    }