$coloresHeader: (
    backgroundHeader : #202225,
    colorh1Header : #fff,
    colorBordeIniciales-Logo: #D4641B,
    colorIniciales-Logo: #fff,
    colorBordesMenuHeader: #000,
    colorLinksMenuHeader: #fff,
    backgroundHoverMenuHeader: #000,
    colorHoverMenuHeader: #fff
);